.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em; /* 2.5em é o espaçamento vertical e 2em é o espaçamento horizontal */
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em 0; /* 1em é o espaçamento vertical */
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    background: url("../img/Lupa.svg") no-repeat; /* no-repeat é para não repetir a imagem */
    padding-left: 1em;
}