.cabecalho__menu-hamburguer { /* cabecalho__menu-hamburguer é o menu hamburguer */
    width :24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; /* para o menu hamburguer ficar na mesma linha do logo */
}
 
.cabecalho{ /* cabecalho é o container do cabeçalho */
    background-color: var(--branco);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container { /* container é o container do logo e do menu hamburguer */
    display: flex;
    align-items: center;
}

.container__imagem { /* container__imagem é o logo da página */
    padding: 1em;
}

.lista-menu {  /* lista-menu é a lista de itens do menu */
    display: none;
    text-decoration: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{ /* quando o botão for clicado, mostra a lista de itens do menu */   
    display: block;
}
.lista-menu__titulo,
.lista-menu__item { /* lista-menu__item é cada item da lista de itens do menu */
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo { /* lista-menu__titulo é o título da lista de itens do menu */
    color: var(--laranja);
    font-weight: 700; /* font-weight é o peso da fonte  */
}

.lista-menu__link { /* lista-menu__link é cada link da lista de itens do menu */
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container__botao { /* container__botao é o botão do menu hamburguer */
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {

     /* Estilos para o cabeçalho */
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu{
        display: none;
    }

    .nav-options{
        display: flex;
        list-style: none;
    }

    /* Estilos para a seção de contato */

    .contato{
        display: flex;
        align-items: center;
    }

    .container__titulo, .container__titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 30px;
    }

      /* Estilos para o footer */
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    /*-----*/
    .container__titulo{
        font-weight: 400;
        display: block;
    
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes_botao:checked~.lista-menu {
        display: block;
        width: auto; /* para o menu hamburguer ficar na mesma linha do logo */
    }
    .opcoes_botao{
        display: none; /* para o botão do menu hamburguer não aparecer */
    }
}

@media screen and (min-width: 1728px) {
   .container__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
   }
   
   .cabecalho{
    padding: 0 2em;
   }

   .opcoes{
    margin-right: auto;
   }

   .container__texto{
    display: block;
   }
}
