.topicos {
    background: var(--azul-degrade);
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    padding: 1em 0;
    margin: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.topicos__item {
    margin: 1em 0em;
}

.topicos__link {
    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
    padding: 1em 2em;
    background-color: var(--laranja);
    border-radius: 1em;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 24px;
    }
    .topicos__link:hover{
        color: var(--laranja);
        background-color: var(--branco); /*cor do link quando passar o mouse por cima*/
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 1.5em 15vw;
    }
}