.topicos {
    background: var(--azul-degrade);
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
    margin: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.topicos__item {
    margin: 1em 0em;
}

.topicos__link {
    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
    padding: 1em 2em;
    background-color: var(--laranja);
    border-radius: 1em;
    text-decoration: none;
}
